<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Art</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/static/main.css">

    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/bower_components/angular-material/angular-material.js"></script>

    <script src="/static/main.js"></script>

  </head>
  <body ng-app="art" ng-cloak>

    <md-toolbar ng-controller="Toolbar" class="md-display-3" >

      <div class="md-toolbar-tools">
	<i class="material-icons"><a ng-href="#/">insert_chart</a></i>
	<h1><a ng-href="#/">Art</a></h1>
        <span flex></span>
	<i class="material-icons">tag_faces</i>{{ auth.username }}
	<i class="material-icons">vpn_key</i>{{ auth.key }}
      </div>

    </md-toolbar>

    <md-content ng-controller="JobsList">
      <md-list>

	<md-subheader class="md-no-sticky">
	  jobs in progress
	</md-subheader>

	<md-list-item ng-repeat="build in builds" ng-click="open()">

	  <p layout="row">
	    <span flex="20">
	      <b>{{ build.id }}</b>
	    </span>
	    <span flex></span>
	    <span flex="15">
	      {{ build.created_at }}
	    </span>
	  </p>

	</md-list-item>

	<md-divider ></md-divider>

	<md-subheader class="md-no-sticky">
	  jobs completed
	</md-subheader>

	<md-list-item class="md-2-line" ng-repeat="build in builds">
	  <i class="md-avatar material-icons">check_circle</i>
          <div class="md-list-item-text">
	</md-list-item>

      </md-list>
    </md-content>

  </body>
</html>
