nav .navbar-brand {
	font-family: 'Nothing You Could Do', cursive;
}

.progress {
	margin-top: 150px;
}

.progress .progress-bar {
	background-color: #aaa;
}

#build-detail dt {
	text-align: left;
}

table {
	table-layout: fixed;
}