.fa-spin {
	display: inline-block;
    font-size: 100px;
    color: #ddd;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50%;
}

input, select, button, .btn {
    border-radius: 0 !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
	border-radius: 0 !important;
}

nav .navbar-brand {
	font-family: 'Nothing You Could Do', cursive;
}

.progress {
	margin-top: 150px;
}

.progress .progress-bar {
	background-color: #aaa;
}

#build-detail dt {
	text-align: left;
}

#build-detail table.benchmarks {
	font-size: 13px;
}

input, select, button, .btn {
    border-radius: 0 !important;
}

#build-list form {
	margin: 30px 0 40px 0;
}

.checkbox input[type="checkbox"] {
	margin-left: 0px !important;
}

.checkbox span {
	cursor: pointer;
	margin-left: 17px;
}

.checkbox span:hover {
	color: #888;
}

#manifest-list .builds {
	font-size: 13px;
	border-bottom: 2px #aaa solid;
}