
<form>
  <div class="form-group">
    <input type="text" ng-change="search()" ng-model="searchQuery" class="form-control" placeholder="search query">
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 10%;">#</th>
      <th style="width: 45%;">build name</th>
      <th style="width: 45%;">LAVA jobs</th>
      <th style="width: 20%;">created at</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="build in builds">

      <td>
	<a ng-href="#/build/{{ build.id }}">#{{ build.id }}</a>
      </td>

      <td>
	<a ng-href="#/build/{{ build.id }}">{{ build.name }}</a> <br/>
	<a style="color:#999" href="{{ build.url }}">{{ build.url }}</a>
      </td>

      <td>
	  <span ng-repeat="test in build.test_jobs">
	    [#{{ test.id }}
	    <span ng-if="!test.status" class="label label-default">Not set</span>
	    <span ng-if="test.status === 'Complete'" class="label label-success">{{ test.status }}</span>
	    <span ng-if="test.status === 'Submitted'" class="label label-info">{{ test.status }}</span>
	    <span ng-if="test.status === 'Running'" class="label label-primary">{{ test.status }}</span>
	    <span ng-if="test.status === 'Incomplete'" class="label label-warning">{{ test.status }}</span>
	    <span ng-if="test.status === 'Canceling' || test.status === 'Canceled'" class="label label-danger">{{ test.status }}</span>]
	  </span>
      </td>

      <td>{{ build.created_at }}</td>
    </tr>
  </tbody>
</table>
