<md-content>
  <md-list>

    <md-subheader class="md-no-sticky">
      jobs in progress
    </md-subheader>

    <md-list-item ng-repeat="build in builds"
		  ng-href="#/build/{{ build.id }}">

      <p layout="row">
    	<span flex="20">
    	  <b>{{ build.id }}</b>
    	</span>
    	<span flex></span>
    	<span flex="15">
    	  {{ build.created_at }}
    	</span>
      </p>

    </md-list-item>

    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky">
      jobs completed
    </md-subheader>

    <md-list-item class="md-2-line" ng-repeat="build in builds">
      <i class="md-avatar material-icons">check_circle</i>
      <div class="md-list-item-text">
    </md-list-item>

  </md-list>
</md-content>
