<i ng-show="!build" class="fa fa-cog fa-spin"></i>

<div id="build-detail" ng-show="build">

  <h1 class="md-display-1"> <small>{{ build.created_at }}</small><br/>#{{ build.build_id }} {{ build.name }}</h1>

  <hr/>
  <a ng-href="{{ build.build_url }}" target="_blank">{{ build.build_url }}</a>
  <hr/>

  <dl class="dl-horizontal">
    <dt>Branch</dt>
    <dd>{{ build.branch_name || "not set"}}</dd>

    <dt>Gerrit Change Id</dt>
    <dd>{{ build.gerrit_change_id || "not set" }}</dd>

    <dt>Gerrit Change Number</dt>
    <dd>{{ build.gerrit_change_number || "not set" }}</dd>

    <dt>Gerrit Patchset Number</dt>
    <dd>{{ build.gerrit_patchset_number || "not set" }}</dd>
  </dl>

  <div ng-show="build.test_jobs.length">
    <hr>
    <h3>TestJob</h3>

    <table class="table table-striped" ng-show="build.test_jobs.length">
      <thead>
	<tr>
	  <th style="width: 10%;">#</th>
	  <th style="width: 90%;">status</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="test in build.test_jobs">

	  <td>
	    <a href="{{ test.url }}" target="_blank">{{ test.id }}</a></td>
	  <td>
	    <ng-include src="'/static/templates/_test_job_status.html'" />
	  </td>
	</tr>
      </tbody>
    </table>
  </div>

  <div ng-show="benchmarksCompare.length">

    <hr>

    <h3>Benchmarks</h3>

    <form>
      <div class="form-group">
	<input type="text" ng-model="queryBenchmarks" class="form-control input-sm" placeholder="filter">
      </div>
    </form>

    <table class="table table-striped benchmarks">
      <thead>
	<tr>
	  <th style="width: 60%">name (sample size)</th>
	  <th class="text-right">current (stdev)</th>
	  <th class="text-right">previous (stdev)</th>
	  <th class="text-right">change</th>
	</tr>
      </thead>
      <tbody>

	<tr ng-repeat="item in benchmarksCompare | filter:filterBenchmarksCompared(queryBenchmarks)">
	  <td>
	    {{ item.current.benchmark }} / <b>{{ item.current.name }}</b>
	    ({{ item.current.values.length }})
	  </td>
	  <td class="text-right">
	    {{ item.current.measurement.toFixed(2) }}<br/>
	    ({{ item.current.stdev.toFixed(2) }})
	  </td>
	  <td class="text-right">
	    {{ item.previous.measurement.toFixed(2) }}<br/>
	    ({{ item.previous.stdev.toFixed(2) }})
	  </td>
	  <td class="text-right">
	    <b>
	    <span ng-if="item.change > 0" style="color:#77DD77">
	      {{ item.change.toFixed(2) }} %
	    </span>
	    <span ng-if="item.change < 0" style="color:#FF6961">
	      {{ item.change.toFixed(2) }} %
	    </span>
	    </b>
	  </td>
	</tr>

      </tbody>
    </table>
  </div>

  <div ng-show="benchmarks.length && !benchmarksCompare.length">
    <hr>

    <h3>Benchmarks</h3>
    
    <form>
      <div class="form-group">
	<input type="text" ng-model="queryBenchmarks" class="form-control input-sm" placeholder="filter">
      </div>
    </form>

    <table class="table table-striped benchmarks">
      <thead>
	<tr>
	  <th style="width: 60%">name (sample size)</th>
	  <th class="text-right">measurement</th>
	  <th class="text-right">stdev</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="item in benchmarks | filter:filterBenchmarks(queryBenchmarks)">
	  <td>
	    {{ item.benchmark }} / <b>{{ item.name }}</b>
	    ({{ item.values.length }})
	  </td>
	  <td class="text-right">
	    {{ item.measurement.toFixed(2)}}
	  </td>
	  <td class="text-right">
	    {{ item.stdev.toFixed(2) }}
	  </td>
	</tr>
      </tbody>
    </table>
  </div>

</div>
