<md-content layout-padding>
  <form name="userForm">
    <md-input-container class="md-block">
      <label>Search</label>
      <input ng-change="search()" ng-model="searchQuery">
      </md-input-container>
  </form>
</md-content>

<md-content>
  <md-list>

    <md-subheader class="md-no-sticky">
      jobs in progress
    </md-subheader>

    <md-list-item layout="row" 
		  aria-label="{{ build.name }}"
		  ng-repeat="build in builds"
		  ng-href="#/build/{{ build.id }}">

      <div flex>{{ build.id }} {{ build.name }}</div>
      <div flex=10>Test 3</div>
      <div>{{ build.created_at }}</div>
      
    </md-list-item>

    <md-divider ></md-divider>

  </md-list>
</md-content>
