<i ng-show="!build" class="fa fa-cog fa-spin"></i>

<div id="build-detail" ng-show="build">

  <h1 class="md-display-1"> <small>{{ build.created_at }}</small><br/>#{{ build.build_id }} {{ build.name }}</h1>

  <hr/>
  <a ng-href="{{ build.build_url }}" target="_blank">{{ build.build_url }}</a>
  <hr/>

  <dl class="dl-horizontal">
    <dt>Branch</dt>
    <dd>{{ build.branch_name || "not set"}}</dd>

    <dt>Gerrit Change Id</dt>
    <dd>{{ build.gerrit_change_id || "not set" }}</dd>

    <dt>Gerrit Change Number</dt>
    <dd>{{ build.gerrit_change_number || "not set" }}</dd>

    <dt>Gerrit Patchset Number</dt>
    <dd>{{ build.gerrit_patchset_number || "not set" }}</dd>

    <dt>Baseline</dt>
    <dd>
      <a ng-show="baseline" ng-href="{{ baseline.permalink }}" target="_blank">
        #{{ baseline.build_id }} {{ baseline.name }}
      </a>
      <em ng-hide="baseline">No baseline build</em>
    </dd>
  </dl>

  <div ng-show="build.test_jobs.length">
    <hr>
    <h3>Test jobs</h3>

    <table class="table table-striped" ng-show="build.test_jobs.length">
      <thead>
        <tr>
          <th>job id</th>
          <th class="text-right">status</th>
          <th class="text-right">resubmit</th>
          <th class="text-right">download</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="test in build.test_jobs">
          <td>
            <a href="{{ test.url }}" target="_blank">{{ test.id }}</a> {{ test.name }}
            <a class='toggle-button' ng-hide='isEmpty(test.metadata)' ng-click='display = !display'>
              <span ng-hide='display' class='fa fa-plus-square'></span>
              <span ng-show='display' class='fa fa-minus-square'></span>
            </a>

            <div ng-show='display'>
              <table class='table'>
                <tr>
                  <th colspan='2'><strong>Test Job Metadata</strong></th>
                </tr>
                <tr ng-repeat='(key, value) in test.metadata'>
                  <td><tt>{{key}}</tt></td>
                  <td><tt>{{value}}</tt></td>
                </tr>
              </table>
            </div>
          </td>
          <td class="text-right">
            <ng-include src="'/static/templates/_test_job_status.html'" />
          </td>
          <td class="text-right" style="width: 100px">

            <span ng-show="test.can_resubmit">
               <button type="button" class="btn btn-default" ng-hide="test.refresh"
                       ng-click="test.refresh = true" ng-disabled="testJobUpdate">
                 <span class="fa fa-refresh"></span>
               </button>

               <div class="btn-group" role="group" ng-show="test.refresh">
                 <button type="button" class="btn btn-success" ng-click="test.refresh = false">
                   <i class="fa fa-times"></i>
                 </button>
                 <button type="button" class="btn btn-warning" ng-click="resubmit(test)">
                   <i class="fa fa-check"></i>
                 </button>
               </div>
            </span>

          </td>
          <td class='text-right'>
            <a
              ng-if='test.data'
              href="/api/testjobdata/{{test.id}}"
              class='label label-info'>
              <i class='fa fa-download'></i>
              test data
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <i ng-show="!benchmarksCompare || !benchmarks" class="fa fa-cog fa-spin"></i>

  <div ng-show="benchmarksCompare.length">

    <hr>

    <h3>Benchmarks</h3>

    <form>
      <div class="form-group">
        <input type="text" ng-model="queryBenchmarks" class="form-control input-sm" placeholder="filter">
      </div>
    </form>

    <table class="table table-striped benchmarks">
      <thead>
        <tr>
          <th style="width: 60%">name (sample size)</th>
          <th class="text-right">current (stdev)</th>
          <th class="text-right">previous (stdev)</th>
          <th class="text-right">change</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="item in benchmarksCompare | filter:filterBenchmarksCompared(queryBenchmarks)">
          <td>
            {{ item.current.benchmark }} / <b>{{ item.current.name }}</b>
            ({{ item.current.values.length }})
          </td>
          <td class="text-right">
            {{ item.current.measurement.toFixed(2) }}<br/>
            ({{ item.current.stdev.toFixed(2) }})
          </td>
          <td class="text-right">
            {{ item.previous.measurement ? item.previous.measurement.toFixed(2) : "N/A" }}<br/>
            {{ item.previous.stdev ? "(" + item.previous.stdev.toFixed(2) + ")": "" }}
          </td>
          <td class="text-right">
            <b>
            <span ng-if="item.change > 0" style="color:#77DD77">
              {{ item.change.toFixed(2) }} %
            </span>
            <span ng-if="item.change < 0" style="color:#FF6961">
              {{ item.change.toFixed(2) }} %
            </span>
            </b>
            <span ng-if="item.change === null">
              N/A
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div ng-show="benchmarks.length && !benchmarksCompare.length">
    <hr>

    <h3>Benchmarks</h3>

    <form>
      <div class="form-group">
        <input type="text" ng-model="queryBenchmarks" class="form-control input-sm" placeholder="filter">
      </div>
    </form>

    <table class="table table-striped benchmarks">
      <thead>
        <tr>
          <th style="width: 60%">name (sample size)</th>
          <th class="text-right">measurement</th>
          <th class="text-right">stdev</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in benchmarks | filter:filterBenchmarks(queryBenchmarks)">
          <td>
            {{ item.benchmark }} / <b>{{ item.name }}</b>
            ({{ item.values.length }})
          </td>
          <td class="text-right">
            {{ item.measurement.toFixed(2)}}
          </td>
          <td class="text-right">
            {{ item.stdev.toFixed(2) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
