<i ng-show="!page" class="fa fa-cog fa-spin"></i>

<div ng-show="page" id="manifest-list">

  <form>
    <div class="form-group">
      <input type="text" ng-change="search()" ng-model="searchQuery"
	     class="form-control" placeholder="search query">
    </div>
  </form>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat-start="item in page.results">
	<td>
	  <h4>
	    {{ item.manifest_hash }}
	    <small>{{ item.reduced_hash }}</small>
	  </h4>
	</td>
      </tr>
      <tr ng-repeat-end ng-show="item.results.length">
	<td style="padding: 0">

	  <table class="table builds" style="margin-bottom: 0">
	    <thead>
	      <tr>
		<th>build</th>
		<th class="text-right">change</th>
		<th class="text-right">patchset</th>
		<th class="text-right">created at</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="result in item.results">
		<td>
		  <a ng-href="#/build/{{ result.id }}">#{{ result.build_id }} / {{ result.name }}</a>
		</td>
		<td class="text-right">{{ result.gerrit_change_number }}</td>
		<td class="text-right">{{ result.gerrit_patchset_number }}</td>
		<td class="text-right">{{ result.created_at }}</td>
	      </tr>
	    </tbody>
	  </table>
	</td>
      </tr>
    </tbody>
  </table>

  <ng-include src="'/static/templates/_pagination.html'" onload="name='manifests'">

</div>
