<div id="build-list">

  <form>
    <div class="form-group">
      <input type="text" ng-change="search()" ng-model="searchQuery" class="form-control" placeholder="search query">
    </div>
  </form>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat-start="item in items">
	<td>{{ item.manifest_hash }}<br/><small>{{ item.reduced_hash }}</small></td>
      </tr>
      <tr ng-repeat-end ng-show="item.results.length">
	<td style="padding: 0">
	  <table class="table" style="margin-bottom: 0">
	    <tbody>
	      <tr ng-repeat="result in item.results">
		<td style="border-top: none; width: 70%;">
		  <a ng-href="#/build/{{ result.id }}">#{{ result.id }} / {{ result.name }}</a>
		</td>
		<td style="border-top: width: 5%;">{{ result.gerrit_patchset_number }}</td>
		<td style="border-top: width: 25%;">{{ result.created_at }}</td>
	      </tr>
	    </tbody>
	  </table>
	</td>
      </tr>
    </tbody>
  </table>
</div>
