<div class="row">
  <div class='col-md-3'>
    <div id='sidebar'>

      <form><!-- TODO -->

        <div class='panel panel-default'>
          <div class='panel-heading'>
            <span ng-show='branch'>
              Branch
            </span>
            <span ng-hide='branch'>
              <strong>Select a branch</strong>
            </span>
          </div>
          <div class='panel-body'>
            <select ng-disabled="disabled" ng-model="branch" class="form-control"
                    ng-change="change()"
                    ng-options="item.branch_name for item in branchList"></select>
          </div>
        </div>

        <div class='panel panel-default' ng-show='branch'>
          <div class='panel-heading'>
            <span ng-show='get_environment_ids().length > 0'>
              Environment
            </span>
            <span ng-show='get_environment_ids().length == 0'>
              <strong>Select environment(s)</strong>
            </span>
          </div>
          <ul class='list-group'>
            <li class='list-group-item' ng-repeat='environment in environments'>
              <div class='checkbox'>
                <input type='checkbox' name='environment[]'
                       id='environment-{{environment.identifier}}'
                       value='{{environment.identifier}}'
                       ng-click='toggleEnvironment(environment.identifier)'
                       ng-model='environment.selected'
                />
                <label for='environment-{{environment.identifier}}'>
                  {{environment.identifier}}
                </label>
              </div>
            </li>
          </ul>
        </div>

        <div class='panel panel-default' ng-show='get_environment_ids().length > 0'>
          <div class='panel-heading'>
            <span ng-show='benchmark'>
              Benchmarks
            </span>
            <span ng-hide='benchmark'>
              <strong>Add benchmark</strong>
            </span>
          </div>
          <div class='panel-body'>
            <select ng-disabled="disabled" ng-model="benchmark" class="form-control"
                    ng-change="addBenchmark()" ng-options="item.padding + item.label for item in benchmarkList"></select>

            <hr/>

            <ul class='list-group'>
              <li class='list-group-item' ng-repeat='benchmark in benchmarks'>
                {{benchmark.label}}
                <a class='pull-right label label-default' ng-click='removeBenchmark(benchmark)'><strong>×</strong></a>
              </li>
            </ul>

          </div>
        </div>

        <a class='btn btn-default' ng-show='project' ng-click='reset()'>Reset filter</a>

      </form>

    </div>
  </div>
  <div class="col-md-9">
    <div id='charts'>
    </div>
  </div>
</div>
